<script src="https://utteranc.es/client.js"
        repo="ekincaid62/my-digital-garden"
        issue-term="pathname"
        label="Comments"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
