.blog-posts {
  max-width: 850px;
  margin: 30px auto;
}

.blog-post {
  margin-bottom: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--background-modifier-border);
}

.blog-post-title {
  margin-bottom: 8px;
}

.blog-post-title a {
  text-decoration: none;
}

.blog-post-read-more {
  font-size: 0.9em;
  text-decoration: none;
}
