<aside id="floating-control">
    <a href="https://my-digital-garden-roan-sigma.vercel.app/" target="_self" title="Home"><i  icon-name="Home" title="Home" aria-hidden="true"></i></a>
    <a href="https://mymtlookoutheritage.blogspot.com/" target="_blank" title="My Mt Lookout Heritage Blog"><i  icon-name="rss" title="My Mt Lookout Heritage" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/groups/230331003649294/" target="_blank" title="Mt Lookout Community Group"><i  icon-name="facebook" title="My Mt Lookout Heritage" aria-hidden="true"></i></a>
    <a href="https://my-digital-garden-roan-sigma.vercel.app/vault/misc/about-this-site/" target="_self" title="About this Site"><i  icon-name="info" title="info" aria-hidden="true"></i></a>
    <a href="https://my-digital-garden-roan-sigma.vercel.app/vault/misc/about-this-site/" target="_self" title="My Ancestors"><img src="/img/tree-3.svg" height="20" alt="My Ancestors"></a>
</aside>
