<style>
h1 {
  background-color: #141d2b;
  color: white;
  font-size: 40px;
  }
</style>
<center style="margin-top:5em;display:flex;justify-content:center;align-items:right">
<img src="https://i.ibb.co/5BkZptM/Compass.jpg" width="200" height="200" alt="Compass" border="0"><h1>Where the Waters flow Northward</h1>
</center>
