<title>Where the Waters flow Northward</title>
    <div class="header">
        <a href="#">
            <img src="https://drive.google.com/file/d/18tXMYfBKR0p8PgBL46fYogZkwp_oQezk/view?usp=sharing" alt="Compass">
        </a>
        <div class="header-title">Where the Waters flow Northward</div>
    </div>
    <style>
        /* Styles to position the compass image on the left */
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .header {
            display: flex;
            align-items: right;
            background-color: #141d2b;
            padding: 10px 20px;
        }
        .header-title {
            font-size: 3.0rem;
            font-weight: bold;
        }
        .header img {
            height: 200px; /* Adjust as needed */
            margin-right: 20px;
        }
        
    </style>
