<script src="https://giscus.app/client.js"
        data-repo="ekincaid62/my-digital-garden"
        data-repo-id="R_kgDONtKHDw"
        data-category="General"
        data-category-id="DIC_kwDONtKHD84DFL--"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
