<aside id="floating-control">
    <a href="https://utsob.me" target="_blank" title="Home"><i  icon-name="Home" title="Home" aria-hidden="true"></i></a>
    <a href="https://utsob.me" target="_blank" title="Home"><i  icon-name="blogger" title="blogger" aria-hidden="true"></i></a>
    <a  href="https://github.com/ekincaid62/my-digital-garden" title="Source Code" target="_blank"><i  icon-name="github" title="GitHub" aria-hidden="true"></i></a>
    <a title="Start a Discussion" id="emailme" href="mailto:ekincaid@gmail.com?subject=Regarding {{title}}&body=Discussing {{meta.siteBaseUrl}}{{permalink}}"><i  icon-name="mail-plus" title="Discuss" aria-hidden="true"></i></a>
</aside>

    
